Jennifer Reyna Pandas HW - HerosOfPymoli

In [47]:
#Import Depedencies

import pandas as pd

#Load and Read CSV file

purchases_df = "Resources/purchase_data.csv"
purchases_df = pd.read_csv(purchases_df)
purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [48]:
#Determine and Display total number of players

total_players = purchases_df["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df.head()

   Total Players
0            576

In [49]:
# Purchasing Analysis (Total)

#Determine the amount of unique items
unique_items = purchases_df["Item ID"].nunique()

#Determine the average purchase price
avg_price = purchases_df["Price"].mean()

#Determine number of purchases
num_purchases = purchases_df["Item ID"].count()

#Determing total revenue of purchases
rev = purchases_df["Price"].sum()

#Create a summary Data Frame to hold the results
analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                            "Average Price": [avg_price], 
                            "Number of Purchases": [num_purchases],
                           "Total Revenue": [rev]})

#Change formatting using mapping 
analysis_df["Average Price"] = analysis_df["Average Price"].map("${:,.2f}".format)
analysis_df["Total Revenue"] = analysis_df["Total Revenue"].map("${:,.2f}".format)

#Display/print the summary Data Frame
analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [50]:
#Gender Demographics

#Count of male, female and other players
#Need help understanding "group by" and why SN works but not Gender for nunique function
gender_group = purchases_df.groupby(["Gender"])
gender_count = gender_group["SN"].nunique()

#Perentage of male, female and other players
gender_percent = gender_count/total_players * 100

#Display Gender Demographics using a data frame
gender_demos_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})

#Changing format using mapping 
gender_demos_df["Perentage of Players"] = gender_demos_df["Percentage of Players"].map("{:.2f}%".format)

#display chart ascending greatest to smallest 
gender_demos_df = gender_demos_df.sort_values("Total Count", ascending = False)
gender_demos_df

#WHY IS THE COLUMN "PERCENTAGE OF PLAYERS" DOUBLED?

                       Total Count  Percentage of Players Perentage of Players
Gender
Male                           484              84.027778               84.03%
Female                          81              14.062500               14.06%
Other / Non-Disclosed           11               1.909722                1.91%

In [51]:
# Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#determine purchase counts per gender
gender_purchase_ct = gender_group["Item ID"].count()

#determine total purchase value per gender
gender_purchase_total = gender_group["Price"].sum()

#determine avg purchase price per item
gender_purchase_avg = gender_purchase_total / gender_purchase_ct

# #determine avg total purchase per gender??

avg_purchase_per_person = gender_purchase_total / gender_count
avg_purchase_per_person


# Create a data frame that holds the results
gen_pur_analysis = pd.DataFrame({"Purchase Count": gender_purchase_ct,
                                  "Average Purchase Price": gender_purchase_avg,
                                 "Total Purchase Value": gender_purchase_total,
                                 "Average Total Purchase Per Person": avg_purchase_per_person})
#Display Data frame and clean format
gen_pur_analysis["Average Purchase Price"] = gen_pur_analysis["Average Purchase Price"].map("${:.2f}".format)
gen_pur_analysis["Total Purchase Value"] = gen_pur_analysis["Total Purchase Value"].map("${:,.2f}".format)
gen_pur_analysis["Average Total Purchase Per Person"] = gen_pur_analysis["Average Total Purchase Per Person"].map("${:.2f}".format)

gen_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [57]:
# Age Demographics
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_range = ["<10", "10-14", "15-19","20-24","25-29","30-34", "35-39", "40+"]

uniqueDF = purchases_df.drop_duplicates(subset="SN")

uniqueDF ["Age Range"] = pd.cut(uniqueDF ["Age"], bins, labels=age_range)

counts = uniqueDF["Age Range"].value_counts()

percents = uniqueDF["Age Range"].value_counts(normalize=True)

percentformat = round(percents *100,2)

pd.DataFrame({'counts': counts, 'percents': percentformat} ).sort_index()

# Categorize the existing players using the age bins. Hint: use pd.cut()

# Calculate the numbers and percentages by age group

# Create a summary data frame to hold the results

# Optional: round the percentage column to two decimal points

# Display Age Demographics Table

<ipython-input-57-cd12c0ce280e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uniqueDF ["Age Range"] = pd.cut(uniqueDF ["Age"], bins, labels=age_range)

       counts  percents
<10        17      2.95
10-14      22      3.82
15-19     107     18.58
20-24     258     44.79
25-29      77     13.37
30-34      52      9.03
35-39      31      5.38
40+        12      2.08

In [53]:

# Purchasing Analysis (Age)


bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_range = ["<10", "10-14", "15-19","20-24","25-29","30-34", "35-39", "40+"]

purchases_data ["Age Range"] = pd.cut(purchases_df ["Age"], bins, labels=age_range)

# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

agerange_group = purchases_df.groupby(["Age Range"])

agerange_group.count()

agerange_group["Price"].avg()

# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [54]:
# Top Spenders

# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [55]:
# Most Popular Items

# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [56]:
# Most Profitable Items

# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame